<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="binding">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='binding'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="binding_SOAP12">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='binding_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sfsqvyrb.sap-cc.com:8000/sap/bc/srt/rfc/sap/zignmobilesalesactivity/800/zignmobilesalesactivity/binding"
        binding="customBinding" bindingConfiguration="binding" contract="SAPServiceReference.ZIGNMOBILESALESACTIVITY"
        name="binding" />
      <endpoint address="http://sfsqvyrb.sap-cc.com:8000/sap/bc/srt/rfc/sap/zignmobilesalesactivity/800/zignmobilesalesactivity/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP12"
        contract="SAPServiceReference.ZIGNMOBILESALESACTIVITY" name="binding_SOAP12" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
